/* body{
    margin: auto 0;
} */


header{
    background-color: cornflowerblue;
    background-image: url("../img/pattern.png");
    height: 180px;
    width: auto;
}

#icon{
    height: 120px;
    width: 160px;
    margin-top: 90px;
    margin-left: 10px;
}

h1{
    font-size: 70px;
    margin-top: 5px; 
    margin-bottom: 0;  
}

#booleaner{
    color: blue;
}

address{
    font-style: normal;
    margin-top: 5px;
    margin-bottom: 20px;
}

.desimg{
    margin-top: 1px;
    margin-bottom: 1px;
}

.underline{
    background-color: gold;
}

ul{
    padding-left: 15px;
}

th{
    width: 100%;
    height: 200px;
}

#colonne{
    background-color: aqua;
}

.rigablu{
    background-color: aquamarine;
}

.imgfinal{
    width: 200px;
    height: 200px;
}

#primolink{
    background-image: url("../img/monitor.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 20px;
}

#secondolink{
    background-image: url("../img/graph.jpg");
    background-size: contain;
    background-repeat: no-repeat;

}

a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    margin-left: 25%;
}